In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plot

In [3]:
df = pd.read_csv("200511COVID19MEXICO.csv", engine="python")

In [4]:
df1 = df[(df["ENTIDAD_UM"]==26)]

In [6]:
df1 = df1.loc[:,["FECHA_INGRESO","FECHA_SINTOMAS","FECHA_DEF"]]

In [7]:
df1 = df1.sort_values(["FECHA_DEF","FECHA_SINTOMAS","FECHA_INGRESO"])

In [8]:
df1.to_csv("tabla1.csv")

       FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
54867     2020-03-18     2020-03-11  2020-03-18
38049     2020-03-27     2020-03-27  2020-03-29
75296     2020-03-23     2020-03-20  2020-03-30
18958     2020-03-24     2020-03-24  2020-03-30
80028     2020-03-27     2020-03-27  2020-03-31
...              ...            ...         ...
133346    2020-05-10     2020-05-09  9999-99-99
126203    2020-05-11     2020-05-09  9999-99-99
133792    2020-05-11     2020-05-09  9999-99-99
134901    2020-05-11     2020-05-09  9999-99-99
130477    2020-05-11     2020-05-10  9999-99-99

[2174 rows x 3 columns]