In [1]:
import pandas as pd

In [2]:
from matplotlib import pyplot as plot

In [3]:
df = pd.read_csv("200511COVID19MEXICO.csv", engine="python")

In [4]:
sonora_df = df[(df["ENTIDAD_UM"]==26)]

In [5]:
df1 = sonora_df.loc[:,["FECHA_INGRESO","FECHA_SINTOMAS","FECHA_DEF"]].sort_values(["FECHA_SINTOMAS","FECHA_DEF"])

In [6]:
sonora_df

       FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
41544     2020-01-06     2020-01-06  9999-99-99
43855     2020-01-08     2020-01-06  9999-99-99
45932     2020-01-14     2020-01-10  9999-99-99
41552     2020-01-15     2020-01-11  9999-99-99
44915     2020-01-14     2020-01-11  9999-99-99
...              ...            ...         ...
133147    2020-05-10     2020-05-09  9999-99-99
133346    2020-05-10     2020-05-09  9999-99-99
133792    2020-05-11     2020-05-09  9999-99-99
134901    2020-05-11     2020-05-09  9999-99-99
130477    2020-05-11     2020-05-10  9999-99-99

[2174 rows x 3 columns]

       FECHA_INGRESO FECHA_SINTOMAS   FECHA_DEF
41544     2020-01-06     2020-01-06  9999-99-99
43855     2020-01-08     2020-01-06  9999-99-99
45932     2020-01-14     2020-01-10  9999-99-99
41552     2020-01-15     2020-01-11  9999-99-99
44915     2020-01-14     2020-01-11  9999-99-99
...              ...            ...         ...
133147    2020-05-10     2020-05-09  9999-99-99
133346    2020-05-10     2020-05-09  9999-99-99
133792    2020-05-11     2020-05-09  9999-99-99
134901    2020-05-11     2020-05-09  9999-99-99
130477    2020-05-11     2020-05-10  9999-99-99

[2174 rows x 3 columns]

In [7]:
df1

335       9999-99-99
956       9999-99-99
1045      9999-99-99
1160      9999-99-99
1288      9999-99-99
             ...
135039    9999-99-99
135046    9999-99-99
135047    9999-99-99
135068    9999-99-99
135069    9999-99-99
Name: FECHA_DEF, Length: 2174, dtype: object

335       9999-99-99
956       9999-99-99
1045      9999-99-99
1160      9999-99-99
1288      9999-99-99
             ...
135039    9999-99-99
135046    9999-99-99
135047    9999-99-99
135068    9999-99-99
135069    9999-99-99
Name: FECHA_DEF, Length: 2174, dtype: object